
/*Card Mixins*/
@mixin card($colour) {
    .card-header {
        background-color: $colour;
        .card-title {
            margin-bottom: 0px !important;
        }
    }
}

@mixin button($colour, $font) {
    @include btnColor($colour, $font, $colour);
    &:not(:disabled):not(.disabled):active {
        @include btnColor($colour, $font, $colour);
    }
    &:not(:disabled):not(.disabled).active {
        @include btnColor($font, $colour, $colour);
    }
    &:hover {
        @include btnColor($font, $colour, $colour);
    }
}

@mixin button-outline($colour, $font) {
    @include btnColor($colour, $font, $font);
    border-width: 2px;

    &:not(:disabled):not(.disabled):active {
        @include btnColor($font, $colour, $font);
    }
    &:not(:disabled):not(.disabled).active {
        @include btnColor($font, $colour, $font);
    }
    &:hover {
        @include btnColor($font, $colour, $font);
    }
}

@mixin btnColor($bg, $font, $bd) {
    color: $font !important;
    background: $bg !important;
    border-color: $bd !important;
}

@mixin mediaQuery($type, $arg1: 0, $arg2 : 0) {
    @if $type == 'min' {
        @media (min-width: $arg1) {
            @content;
        }
    }

    @if $type == 'max' {
        @media (max-width: $arg1) {
            @content;
        }
    }

    @if $type == 'both' {
        @media (min-width: $arg1) and (max-width: $arg2) {
            @content;
        }
    }
}




/*Below mixins need to chnage*/

@mixin sideBarLink() {
    color: $white;
    background: $primary;
}
