@import 'mixins';

$white : #fff;
$black : #000;
//$btn-success : #218838;
$front-btn-success : #218838;
$btn-success : #dcefe0;
//$btn-danger : #dc3545;
$btn-danger : #cf0a1c1c;
//$btn-warning : #ffc107;
$btn-warning : #dfab192e;
$blue : #002a71;

//$successF: #064e06eb;
$successF: #017201c4;
//$dangerF : #8a1914;
$dangerF : #a90c1bd1;
//$warningF : #9c8625;
$warningF : #9c8625e8;

/* General CSS */
.btn-success {
    background: $btn-success !important;
    color: $successF !important;
    border-width: 2px;
    &:hover {
        color: $white !important;
        background-color: $successF !important;
        border-color: $btn-success !important;
    }
    &:active {
        color: $white !important;
        background-color: $successF !important;
        border-color: $btn-success !important;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        color: $black;
        background-color: $successF !important;
        border-color: $successF !important;
    }
    .btn-warning.focus, .btn-warning:focus {
        box-shadow: 0 0 0 0.2rem transparentize($successF, 0.5) !important;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem transparentize($successF, 0.5) !important;
    }
}
.btn-success.front-btn {
    background: $front-btn-success !important;
    color: $white !important;
    border-width: 2px;
    &:hover {
        color: $white !important;
        background-color: $successF !important;
        border-color: $front-btn-success !important;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        color: $black;
        background-color: $successF !important;
        border-color: $successF !important;
    }
    .btn-warning.focus, .btn-warning:focus {
        box-shadow: 0 0 0 0.2rem transparentize($successF, 0.5) !important;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem transparentize($successF, 0.5) !important;
    }
}
.btn-danger {
    background: $btn-danger !important;
    color: $dangerF !important;
    border-width: 2px;
    &:hover {
        color: #fff !important;
        background-color: $dangerF !important;
        border-color: $btn-danger !important;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        color: $white !important;
        background-color: $dangerF !important;
        border-color: $dangerF !important;
    }
    .btn-warning.focus, .btn-warning:focus {
        box-shadow: 0 0 0 0.2rem transparentize($dangerF, 0.5) !important;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem transparentize($dangerF, 0.5) !important;
    }
}
.btn-warning {
    background: $btn-warning !important;
    color: $warningF !important;
    border-width: 2px;
    &:hover {
        color: #fff !important;
        background-color: $warningF !important;
        border-color: $btn-warning !important;
    }
    &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        color: $white !important;
        background-color: $warningF !important;
        border-color: $warningF !important;
    }
    .btn-warning.focus, .btn-warning:focus {
        box-shadow: 0 0 0 0.2rem transparentize($warningF, 0.5) !important;
    }
    &:not(:disabled):not(.disabled).active:focus, &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem transparentize($warningF, 0.5) !important;
    }
}

.ques {
    border: 2px solid $blue !important;
    .card {
        border: 2px solid $blue !important;
        width: 100%;
    }
    .errorCard {
        border: 2px solid #580400 !important;
        display: inline-block;
        margin-bottom: 20px !important;
    }
    .section-divider {
        background: $blue !important;
        height: 2px;
        margin-bottom: 1.5rem;
    }
    .errorDetails {
        background: #580400;
        border-radius: 4px;
        text-align: left;
        color: $white;
        padding: 0px 6px 2px;
        margin-top: 2px;
        margin-bottom: 20px;
    }
    &.page-three {
        .errorDetails {
            margin-bottom: 0px;
        }
    }
}

/* Button Styles */
.ButtonClickedgreen {
    /*background-color: rgb(6, 78, 6);*/
    //background-color: #176717;
    background-color: $successF !important;
    //background-color: #053c05 !important;
    color: $white !important;
}

.ButtonClickedred {
    /*background-color: rgb(119, 2, 2);*/
    //background-color: #8a1914 !important;
    background-color: $dangerF !important;
    //background-color: #5e0e0a !important;
    color: $white !important;
}

.ButtonClickedyellow {
    /*background-color: rgb(146, 120, 1);*/
    //background-color: #9c8625 !important;
    background-color: $warningF !important;
    //background-color: #736219 !important;
    color: $white !important;
}

.form-control {
    &.error {
        border-color: #580400;
        &:focus {
            box-shadow: 0 0 0 0.2rem transparentize(#580400, 0.7);
        }
    }
}
.errorDetails {
    background: #580400;
    border-radius: 4px;
    text-align: left;
    color: $white;
    padding: 0px 6px 2px;
    margin-top: 2px;
}

/*Scaler Slider*/
.slider {
    &.slider-horizontal {
        width: 180px !important;
        height: 20px !important;
        .slider-track {
            background: #dadada !important;
            width: 100%;
        }
    }
}

/* Retail Menu*/
.retail-menu {
    /* Navigation Bar */
    nav {
        padding: 0.5rem 0rem;
        .navbar-brand {
            color: $white;
            padding-left: 1rem;
            @include mediaQuery('max', '315px') {
                font-size: 0.7rem !important;
            }
            @include mediaQuery('both', '316px', '350px') {
                font-size: 0.8rem !important;
            }
            @include mediaQuery('both', '351px', '400px') {
                font-size: 1rem !important;
            }
            &:hover {
                color: $white;
            }
        }

        .navbar-toggler {
            background: $white;
            margin-right: 1rem;
        }
        .navbar-collapse {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 0.5rem;
            .navbar-nav {
                .nav-item {
                    border-bottom: 2px solid $white;
                    &:hover {
                        background: transparentize($white, 0.5) !important;
                        .nav-link {
                            color: $blue !important;
                            font-weight: bold;
                        };
                    }
                    &:last-child {
                        border-style: none;
                    }
                    .nav-link {
                        color: $white;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* lANDING PAGE STYLES */
#landing-page {
    .card-retail {

        .select-cus-box-row {
            .click-box {
                width: 100%;
                cursor: pointer;
                //margin-bottom: 20px;
                /*background-color: transparent;
                background: url("../../images/btn-bg.png");
                background-size: cover;
                background-repeat: no-repeat;
                height: 3rem;*/
                @include mediaQuery('both', '321px', '450px') {
                    height: 3rem;
                    img {
                        width: auto !important;
                        height: 100% !important;
                    }
                }
                @include mediaQuery('both', '451px', '575px') {
                    height: 3rem;
                    img {
                        width: auto !important;
                        height: 100% !important;
                    }
                }

                //margin-bottom: 20px !important;
                p {
                    position: absolute;
                    color: #fff;
                    font-weight: bold;
                    left: 0;
                    right: 0;
                    @include mediaQuery('max', '320px') {
                        top: 23%;
                    }
                    @include mediaQuery('both', '321px', '450px') {
                        top: 27%;
                    }
                    @include mediaQuery('both', '451px', '575px') {
                        top: 25%;
                    }
                    @include mediaQuery('both', '576px', '678px') {
                        top: 13%;
                    }
                    @include mediaQuery('both', '679px', '992px') {
                        top: 16%;
                    }
                    @include mediaQuery('both', '993px', '1024px') {
                        top: 6%;
                    }
                    @include mediaQuery('both', '1025px', '1200px') {
                        top: 16%;
                    }
                    @include mediaQuery('min', '1201px') {
                        top: 24%;
                    }
                    //top: 25%;
                }
            }
        }
    }

}

/* Routine */
#routine-page {
    p {
        text-align: justify;
    }
}

/* Information */
#information-page {
    ul {
        list-style: upper-roman;
        padding-left: 20px;
        li {
            text-align: left;
        }
    }
    p {
        text-align: justify;
    }
}

/* *********** Dashboard CSS *********** */
#dashboard-outer {
    @include mediaQuery('max', 768px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    @include mediaQuery('min', 768px) {
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    .card-header {
        background: $blue;
    }
    .nav-menu {
        .navbar {
            border-radius: 4px;
            background: transparentize($blue, 0.5);
            border: 1px solid $blue;
            .navbar-nav {
                .nav-item {
                    padding: 5px;
                    .nav-link {
                        color: $blue !important;
                        font-weight: 500;
                    }
                    &.active {
                        background: $blue;
                        .nav-link {
                            color: $white !important;
                        }
                    }
                    &:hover {
                        background: $blue;
                        .nav-link {
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
    #dashboard {
        padding: 20px;
        border: 1px solid $black;
        .section-bottom {
            @include mediaQuery('max', 768px) {
                margin-bottom: 1rem;
            }
            @include mediaQuery('min', 768px) {
                margin-bottom: 3rem;
            }
            margin-bottom: 3rem;
        }
        .page-header {
            background: transparentize($blue, 0.6);
            margin-bottom: 10px;
            padding: 10px;
            h5 {
                margin-bottom: 0px;
            }
        }
        .noOfResponse {
            .name {
                color: $blue;
                background: transparent;
                font-weight: bold;
                font-size: 1.3rem;
            }
            .card {
                background: transparentize($black, 0.8);
                .card-body {
                    font-size: 1.3rem;
                    color: $black;
                }
            }
        }
        #canvas-holder {
            @include mediaQuery('max', 768px) {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                canvas {
                    width: 100%;
                    height: auto;
                }
            }
            @include mediaQuery('min', 768px) {
                margin-bottom: 0rem;
                margin-bottom: 0rem;
                canvas {
                    width: 100%;
                    height: auto;
                }
            }
        }

        /* NPS Score Styles*/
        .npsScore {
            .nps-out {
            }
            .single {
                text-align: center;
                font-size: 1.2rem;
                background: $black;
                color: $white;
                border-radius: 5px;
                padding: 10px;
                display: inline-block;
                @include mediaQuery('max', 678px) {
                    margin-bottom: 15px;
                    display: block;
                    width: 100% !important;
                }
                @include mediaQuery('both', 678px, 992px) {
                    width: 13.6% !important;
                }
                @include mediaQuery('both', 992px, 1024px) {
                    width: 13.8% !important;
                }
                @include mediaQuery('both', 1024px, 1200px) {
                    width: 13.8% !important;
                }
                @include mediaQuery('both', 1200px, 1400px) {
                    width: 13.9% !important;
                }
                @include mediaQuery('min', 1400px) {
                    width: 13.9% !important;
                }
                .month {
                    padding-bottom: 10px;
                    border-bottom: 3px solid $white;
                }
                .avg {
                    padding-top: 10px;
                }
            }
        }
    }
}
